/* Home section */
.home {
    position: relative;
    height: 100%;
    min-height: 90vh;
  }
  .home-wrapper {
    height: 100%;
    min-height: 90vh;
    flex-wrap: wrap;
  }
  .home .col-left {
    width: 50%;
  }
  .home .home-image {
    width: 50%;
    text-align: right;
  }
  
  .col-left h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    color: #222;
    margin-bottom: 20px;
  }
  
  .col-left ul {
    padding: 0px;
    margin: 0px;
  }
  .col-left ul li {
    list-style: none;
    font-weight: normal;
    font-size: 35px;
    line-height: normal;
    color: #636363;
    margin-bottom: 20px;
  }
  .col-left ul li img {
    vertical-align: bottom;
    margin-right: 10px;
  }
  .btn-section {
    justify-content: flex-start;
    margin-top: 40px;
  }
  
  .btn-section .btn-start {
    display: inline-block;
    padding: 15px 25px;
    font-weight: 600;
    font-size: 23x;
    line-height: normal;
    color: #fff;
    background-color: #7c3ef0;
    text-transform: capitalize;
    box-shadow: 0px 4px 15px rgba(0, 200, 148, 0.15);
    border-radius: 10px;
  }
  .btn-section .btn-play {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 26px;
    color: #222;
    font-size: 16px;
    line-height: normal;
    text-transform: capitalize;
  }
  .btn-section .btn-play span {
    margin-right: 18px;
  }
  .curve-image {
    position: absolute;
    top: auto;
    bottom: -18px;
    left: 0;
  }
  
  .shape {
    position: absolute;
  }
  
  .shape1 {
    top: 15%;
  }
  .shape2 {
    top: 20%;
    left: 50%;
  }
  .shape3 {
    top: 45%;
    left: 40%;
  }
  .shape4 {
    top: 78%;
    left: 25%;
  }
  .shape5 {
    top: 70%;
    left: 55%;
  }
  /* Media Queries */
  @media (max-width: 767px) {
    .container {
      padding: 0 20px;
    }
    .home-wrapper {
      flex-direction: column-reverse;
      min-height: auto;
    }
    .home .col-left {
      width: 100%;
      padding: 30px 0 150px;
    }
    .col-left h1 {
      font-size: 35px;
      margin-bottom: 15px;
    }
    .home .home-image {
      width: 100%;
      text-align: center;
    }
    .home .home-image img {
      width: 70%;
    }
    .shape {
      display: none;
    }
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    .container {
      padding: 0 35px;
    }
    .shape {
      display: none;
    }
    .home .home-image img {
      width: 83%;
    }
  }
  @media (min-width: 1024px) and (max-width: 1230px) {
    .container {
      padding: 0 35px;
    }
    .home {
      min-height: 94vh;
    }
    .shape {
      display: none;
    }
  }
  